@charset "utf-8";

@import "./docs.scss";
@import "./variables.scss";
@import "./element.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*,
a,
p {
  margin: 0;
  padding: 0;
  user-select: none;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--text-color);

  &:hover {
    transition: 0.3s;
  }
}


#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;
  -webkit-transform: rotate(3deg) translateY(-4px);
  -ms-transform: rotate(3deg) translateY(-4px);
  transform: rotate(3deg) translateY(-4px);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border-color: #29d transparent transparent #29d;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 0.4s linear infinite;
  animation: nprogress-spinner 0.4s linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

.overflow-y-auto {
  overflow-y: auto !important
}

.small-scroll-bar::-webkit-scrollbar-track-piece {
  background: #eee
}

.small-scroll-bar::-webkit-scrollbar {
  width: 8px;
  height: 6px
}

.small-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #cbcbcb
}

.small-scroll-bar::-webkit-resizer {
  background-color: #cbcbcb
}

.small-scroll-bar::-webkit-scrollbar-corner {
  background-color: #cbcbcb
}

.small-scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #bbb
}

button::-webkit-scrollbar {
  display: none
}

button {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none
}

.scroll-hide::-webkit-scrollbar {
  display: none
}

.scroll-hide {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow: -moz-scrollbars-none;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
  scrollbar-width: none
}

// 自定义鼠标
#cursor {
  position: fixed;
  width: 18px;
  height: 18px;
  background: var(--cursor-color);
  border-radius: 25px;
  opacity: 0.4;
  z-index: 10086;
  pointer-events: none;
  transition: 0.3s ease-in-out;
  transition-property: background, opacity, transform;


  &.hidden {
    opacity: 0;
  }

  &.active {
    opacity: 0.5;
    transform: scale(0.5);
  }
}